<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <runtime>
    <!--本来想着这个能解决Datetime序列化负溢出问题，然而没卵用-->
    <AppContextSwitchOverrides value="Switch.System.Runtime.Serialization.
DoNotUseTimeZoneInfo=true"/>
  </runtime>

  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Verbose">
        <listeners>
          <clear />
          <add type="System.Diagnostics.DefaultTraceListener" name="Default"
              traceOutputOptions="None" />
          <add name="ServiceModel Listener" traceOutputOptions="None" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <clear />
          <add type="System.Diagnostics.DefaultTraceListener" name="Default"
              traceOutputOptions="None" />
          <add name="MessageLogging Listener" traceOutputOptions="None"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="d:\WcfServiceDemo\TraceLog.xml"
              type="System.Diagnostics.XmlWriterTraceListener"
              name="ServiceModel Listener"
              traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack" />
      <add initializeData="d:\WcfServiceDemo\MessageLog.log"
              type="System.Diagnostics.TextWriterTraceListener"
             name="MessageLogging Listener"
             traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack" />
    </sharedListeners>
    <trace autoflush="true" indentsize="2">
      <listeners>
        <add name="MessageLogging Listener" />
        <clear />
      </listeners>
    </trace>
  </system.diagnostics>

  <system.web>
    <compilation debug="true"/>
  </system.web>

  <!-- 部署服务库项目时，必须将配置文件的内容添加到
 主机的 app.config 文件中。System.Configuration 不支持库的配置文件。 -->
  <system.serviceModel>
    <services>
      <service name="WcfServiceLibrary1.Service1">
        <endpoint address="" behaviorConfiguration="restfulBehavior" binding="webHttpBinding" bindingConfiguration="" contract="WcfServiceLibrary1.IService1">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Service1/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="restfulBehavior">
          <webHttp/>
          <WcfExtension/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <diagnostics>
      <endToEndTracing activityTracing="true" messageFlowTracing="true" propagateActivity="true" />
      <messageLogging logEntireMessage="true"
          logMalformedMessages="false"
          logMessagesAtServiceLevel="false"
          logMessagesAtTransportLevel="false"
          maxMessagesToLog="1000"
          maxSizeOfMessageToLog="1000">
        <filters>
          <clear />
        </filters>
      </messageLogging>
    </diagnostics>
    <extensions>
      <behaviorExtensions>
        <add name="WcfExtension" type="WcfExtensions.Element.VedaEndpointBehaviorExtensionElement, WcfExtensions, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
